@import '../../../../fonts.scss';

.first-slide-content-title {
  position: absolute;
  font-family: "GothamPro Regular", sans-serif;
  font-size: 54px;
  margin-top: 18vh;
  margin-left: 7vw;
  color: #0d319c;
}