@mixin circles {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(209, 80, 52, 0.6);
  background: radial-gradient(
    rgba(208, 47, 54, 0.62),
    rgba(222, 119, 28, 0.62)
  );
  opacity: 0;
}

.circle-container {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 100%;
  &__label {
    letter-spacing: 1px;
    position: absolute;
    font-family: "Lato Regular", sans-serif;
    font-size: 22px;
    color: #0d319c;
  }

  &__circle1 {
    @include circles;
    animation: pulsing 2.1s infinite;
  }
  &__circle2 {
    @include circles;
    animation: pulsing 2.1s infinite;
    animation-delay: 0.7s;
  }
  &__circle3 {
    @include circles;
    animation: pulsing 2.1s infinite;
    animation-delay: 1.4s;
  }
}
@keyframes pulsing {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  50% {
    background: rgba(222, 119, 28, 0.5);
  }

  100% {
    transform: scale(3);
    background: rgba(222, 119, 28, 0.1);
    opacity: 1;
  }
}
