*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.app {
  transition: transform 0.5s ease-in-out;
  &-horizontal-slider {
    overflow: visible;
    transition: transform 0.5s ease-in-out;
    &__slides {
      display: flex;
      width: 300vw;
    }

  }
}
