@import '../../../../fonts.scss';

.second-slide-content-title {
  position: absolute;
  text-align: center;
  margin-top: 32vh;
  margin-left: 27vw;
  letter-spacing: 0px;
  
  font-family: 'GothamPro Light', sans-serif;
  color: #ffffff;
  font-size: 52px;

}